/* GLOBAL VARIABLES */
:root {
    --primary-color: #fdfff7;
    --secondary-color: #41671B;
    --tertiary-color: #A4D24F;
    --green-color: #fafdf6;
    --beige-color: rgb(255, 255, 248);
    --red-color: rgb(255, 91, 91);
    --highlight-blue: rgb(221, 234, 236);
    --highlight-green: rgb(234, 241, 223);
    --primary-border: 12px;
    --primary-padding: 8%;
    --body-padding: 25%;
    --small-padding: 12%;
    --primary-box-shadow: 0 8px 8px var(--tertiaryColor);
    --header-font: 'Literata', serif;
}

/* FONTS */
@font-face {
    font-family: Cooper;
    src: url("/fonts/cooper/cooperltbtbold.woff");
}
@font-face {
    font-family: Source;
    src: url("/fonts/source/SourceSerifPro-Regular.woff");
}

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Libre+Baskerville:wght@700&family=Source+Serif+Pro&display=swap');

/* BODY */
body,html {
    background:var(--color-white);
    color:#1e1f20;
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

/* BODY */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: white;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

/*STYLING*/
img {
    width: 100%;
    /*justify-items: center;*/
}

p {
    font-family: 'DM Sans', sans-serif;;
    width: 100%;
    margin: 1%;
}

mark {
    background-color: var(--highlight-green);
}

/* HEADER */
header {
    max-width: 500px;
    margin: auto;
}

h1 {
    font-family: Cooper;
    font-size: 48px;
    text-align: center;
    font-family: var(--header-font);
}

/* MAIN */
main {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    /*align-items: flex-start;*/
}

.next-stage {
    padding: 12%;
    background-color: #A4D24F;
    border-radius: 4%;;
}

/* FORM */
.question-box {
    background-color: var(--beige-color);
    border: solid 2px;
    margin-bottom: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    box-sizing: border-box;
    padding: var(--primary-padding);
}

.question-box, div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: space-around;
}

input {
    padding: var(--primary-padding);
}

button {
    width: 30%;
    align-self: center;
    border: solid 2px;
    box-sizing: border-box;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: var(--highlight-blue);
}

.result {
    padding: 2%;
    text-align: center;
    border-radius: 4%;
}
